
@{
    ViewBag.Title = "Login";
}

<div style="width: 100px; margin: 30px auto;">
    <div>
        <label style="font-size: 20px">Log In</label>
    </div>
    <div style="align-content:center">
        <label>Введіть логін:</label>
        <input type="text" name="name"/>
    </div>
</div>